n8n-workflow.json
{
  "name": "Alcovia Focus Session Notification & Deduplication",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alcovia-focus-success",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "e22a5ad6-cf29-4509-b690-d022b7bfec8f",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        380,
        240
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:4000/api/notifications",
        "options": {}
      },
      "id": "52857444-245f-4a34-be57-f64f33b1e779",
      "name": "Get Existing Notifications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const newSession = $('Webhook Trigger').item.json;\nconst existingNotifications = $input.all();\n\n// Check if this sessionId has already been notified\nconst isDuplicate = existingNotifications.some(n => {\n  if (Array.isArray(n.json)) {\n    return n.json.some(subN => subN.sessionId === newSession.id);\n  }\n  return n.json.sessionId === newSession.id;\n});\n\nreturn {\n  isDuplicate,\n  session: newSession\n};"
      },
      "id": "d0590a99-b1d5-4be4-bd72-3532729a6787",
      "name": "Deduplicate Session ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "93a64ef8-a0c3-4d6d-9653-4886cc2a07c1",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b01c34a2-11c9-4a00-ab4b-724d266e7441",
      "name": "If Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4000/api/mock-n8n-sink",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sessionId\": \"{{ $json.session.id }}\",\n  \"message\": \"WhatsApp Notification: Focus session succeeded! Streak now {{ $json.session.streak }} days, +50 coins.\"\n}",
        "options": {}
      },
      "id": "31b088b9-8e7c-4860-93a8-a53cf8527a20",
      "name": "Send Mock Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1280,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "return { message: 'Duplicate session, skipped notification.' };"
      },
      "id": "cf364711-d007-4e78-be7c-bc70a31eb270",
      "name": "Log Duplicate Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        320
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Existing Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Notifications": {
      "main": [
        [
          {
            "node": "Deduplicate Session ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Session ID": {
      "main": [
        [
          {
            "node": "If Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Duplicate?": {
      "main": [
        [
          {
            "node": "Log Duplicate Skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Mock Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7899434-2e90-4824-a745-d8cf01b1cb91",
  "id": "alcovia-focus-sync-workflow",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
